#hero {
  background-image: url(/images/places/ocean.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
}

#hero-container {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
  color: white;
}

#hero-container h1 {
  font-size: 36px;
  margin: 0;
}

#hero-container p {
  color: rgba(212, 205, 205, 0.8);
}

#hero-container a {
  padding: 8px 14px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  background-color: rgb(255, 251, 0);
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 9px rgb(77, 77, 77);
  display: inline-block;
  margin: 20px 0 10px 0;
}

#hero-container a:hover {
  background-color: rgb(231, 228, 44);
}

#hero-highlight {
  padding: 24px;
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
  text-align: center;
}

#hero-highlight h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}

#places {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.place {
  width: 100%;
  margin: 0 20px;
}

.place img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  object-fit: cover;
}

.place p {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}

.place strong {
  color: rgb(0, 160, 117);
}
